@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .heading {
        width: 343px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .top__text {
        width: 343px;
        text-align: center;

        &_tiny {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
        &_wide {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
        }
    }
    .top__button{
        margin-top: 32px;
    }
    .footer {
        padding-bottom: 85px;
        padding-top: 51px;

        &__content {
            display: flex;
            align-items: center;
            text-align: center;
    
            &_heading {
                color: #FFF;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
    
            &_text {
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
            }
        }
        &__img {
            display: flex;
            flex-direction: column;
            width: 344px;
            padding-top: 64px;
        }
        &__game {
            padding-top: 51px;
            padding-bottom: 90px;
            &_content {
                align-items: center;
                text-align: center;
                width: 343px;
            }
        }
        &__gameProduct {
            display: flex;
            flex-direction: column-reverse;
            align-content: center;
        }
        &__bottom {
            &_content {
                padding-top: 51px;
            }
        }
    }
}